
.input-field{
    width: 50%;
  }
  
  .container-position{
    position: absolute; 
    margin-top: 3%; 
    margin-left: 1%;
  }

.btn-group{
    display: flex;
    gap: 5%;
    width: 50%;
  }

.row-group{ 
    margin-bottom: 10px;
}

.form-group-style{
    display: flex;
    gap: 10px;
    width: 50%
}