/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-message {
    font-size: 10px;
    margin-left: 5px;
    color: red;
    position: relative;
    left: 93px;
}

.astrix {
    color: red;
}
